{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="container">
    <div class="row"><br><br><br></div>
    <div class="row">
	<div class="col-lg-4">
	    <img src="{{ url_for('static', filename='img/logo.png') }}"/>
	    <a href="{{ url_for('auth.logout') }}"
	       class="btn btn-success btn-lg pull-right">
		{% if user.in_lab %}Logout{% else %}Start Making{% endif %}
	    </a>
	</div>
	<div class="col-lg-6">
	    <div>
		<br><br>
		{% if user
		{{ wtf.quick_form(form) }}
	    </div>
	</div>
    </div>
</div>
{% endblock %}
